In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
csv_file = "crime_and_incarceration_by_state.csv"
caibs_df = pd.read_csv(csv_file)
caibs_df.head()

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,FEDERAL,False,2001,149852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,1369.0,NaN,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0
2,ALASKA,True,2001,4570,False,False,633630.0,3735.0,39.0,501.0,NaN,514.0,2681.0,23160.0,3847.0,16695.0,2618.0
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,1518.0,NaN,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0
4,ARKANSAS,False,2001,11489,False,False,2694698.0,12190.0,148.0,892.0,NaN,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0

In [3]:
#new_Border_Crossing_df = Border_Crossing_df[["Port Name", "State", "Border", "Date", "Value"]].copy()
#new_Border_Crossing_df.head()

In [4]:
#new_Border_Crossing_df = new_Border_Crossing_df.rename(columns={"Port Name": "Crossing_City", 
#                                                                "Value": "Crossing_Count"})
#new_Border_Crossing_df.head()

In [5]:
#new_Border_Crossing_df['Year'] = pd.DatetimeIndex(new_Border_Crossing_df['Date']).year
#new_Border_Crossing_df.head()

In [6]:
#Grouped_Border_Crossing = new_Border_Crossing_df.groupby(['State', 'Year', 'Border'])['Crossing_Count'].sum()

#FinalBorderCrossing_df = pd.DataFrame(Grouped_Border_Crossing).reset_index()

#FinalBorderCrossing_df

In [7]:
# FinalBorderCrossing_df.to_excel("output.xlsx")

In [8]:
from sqlalchemy import create_engine
rds_connection_string = "postgres: @localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
caibs_df.to_sql(name='crime_and_incarceration_by_state', con=engine, if_exists='append', index=False)

In [10]:
pd.read_sql_query('select * from "crime_and_incarceration_by_state"', con=engine).head()

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,FEDERAL,False,2001,149852,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,1369.0,NaN,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0
2,ALASKA,True,2001,4570,False,False,633630.0,3735.0,39.0,501.0,NaN,514.0,2681.0,23160.0,3847.0,16695.0,2618.0
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,1518.0,NaN,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0
4,ARKANSAS,False,2001,11489,False,False,2694698.0,12190.0,148.0,892.0,NaN,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0